* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 635px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#7bd3f7, #e0f6ff);
}

.grass {
    position: absolute;
    bottom: -10%;
    width: 200%;
    animation: grass-animation 1.5s infinite linear;
    z-index: 1;
}

.pokeball {
    position: absolute;
    bottom: 0px;
    width: 80px;
    animation: pokeball-animation 1.5s infinite linear;
    z-index: 6;
}

.pikachu {
    width: 200px;
    position: absolute;
    bottom: -2px;
    z-index: 5;
}

.bulbasaur {
    position: absolute;
    width: 120px;
    margin-left: -300px;
    bottom: -2px;
    z-index: 2;
    animation: bulbasaur-animation 3s linear;
    animation-delay: 5s;
}

.lugia {
    position: absolute;
    width: 250px;
    margin-top: 20px;
    margin-left: -300px;
    animation: lugia-animation 15s linear;
    animation-delay: 10s;
    z-index: 3;
}

.sun {
    position: absolute;
    width: 300px;
    margin-left: 200px;
    top: 10px;
    z-index: 1;
}

.clouds {
    position: relative;
    width: 800px;
    margin-top: 20px;
    animation: clouds-animation1 40s infinite linear;
    z-index: 4;
}

.clouds2 {
    position: absolute;
    width: 800px;
    margin-top: 80px;
    animation: clouds-animation2 20s infinite linear;
    z-index: 4;
}

.jump {
    animation: jump 600ms ease-out;
}

@keyframes grass-animation {
    from {
        right: -100%;
    }

    to {
        right: 0%;
    }
}

@keyframes pokeball-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {

    0% {
        bottom: -5%;
    }

    50% {
        bottom: 180px;
    }

    100% {
        bottom: -5%;
    }
}

@keyframes clouds-animation1 {
    from {
        right: -1640px;
    }

    to {

        right: 100%;
    }
}

@keyframes clouds-animation2 {
    from {
        right: -820px;
    }

    to {

        right: 100%;
    }
}

@keyframes lugia-animation {
    from {
        right: -500px;
    }

    to {

        right: 100%;
    }
}

@keyframes bulbasaur-animation {
    from {
        right: -500px;
    }

    to {

        right: 100%;
    }
}